
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<div><a href="/ChatRoom/Logout">注销</a></div>
<div>
    <div><span>用户名</span>@ViewBag.UserName@*<select id="user"></select>*@</div>
    <div><span>接收用户</span><select id="revuser"></select><input type="button" id="refresh" value="Refresh" /></div>
    <div><span>消息</span><input type="text" id="content" /></div>
    <div><input type="button" id="send" value="Send" /></div>
    <div><div id="message"></div></div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $(function () {
        loadRecuser();

        $("#send").click(function () {
            send();
        });

        $("#content").keyup(function (e) {
            if (e.keyCode == 13)
                send();
        });

        $("#refresh").click(function () {
            loadRecuser();
        });

        receive();
    });

    function loadRecuser() { 
        $.get("/ChatRoom/Users", function (data) {
            //var su = $("#user");
            var srec = $("#revuser");
            srec.empty();
            $.each(data, function (i, e) {
                var option = "<option value='" + e.id + "'>" + e.userName + "</option>";
                //su.append(option);
                srec.append(option);
            });
        });
    }

    function send() {
        //var f = $("#user").find("option:selected");
            var t = $("#revuser").find("option:selected");
            var content = $("#content").val();
            //var from = f.val();
            var fromName = '@ViewBag.UserName'; //f.text();
            //receive(); return;/*
            $.post("/ChatRoom/Send", { to: t.val(), msg: content }, function (data) {
                $("#message").append("<div>[" + fromName + "] to [" + t.text() + "] : " + content + "</div>");
            });
    }

    function receive() {
        $.ajax({
            url: "/ChatRoom/Receive",
            type: "POST",
            timeout: 30000,
            dataType: "json",
            success: function (data) {
                console.log(data);
                if (data == "Refresh")
                    window.location.replace("/ChatRoom/Login");
                else if (data != "")
                    $("#message").append("<div>(" + data.queueID + ")[" + data.fromName + "] to [" + data.toName + "] : " + data.content + "</div>");
                receive();
            },
            error: function () {
                receive();
            }
        });
    }
</script>