
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div>
    <div><span>用户名</span><select id="user"></select></div>
    <div><span>接收用户</span><select id="revuser"></select></div>
    <div><span>消息</span><input type="text" id="content" /></div>
    <div><input type="button" id="send" value="Send" /></div>
    <div><div id="message"></div></div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $(function () {
        $.get("/ChatRoom/Users", function (data) {
            var su = $("#user");
            var srec = $("#revuser");
            $.each(data, function (i, e) {
                var option = "<option value='" + e.id + "'>" + e.userName + "</option>";
                su.append(option);
                srec.append(option);
            });
        });

        $("#send").click(function () {
            var f = $("#user").find("option:selected");
            var t = $("#revuser").find("option:selected");
            var content = $("#content").val();
            var from = f.val();
            var fromName = f.text();
            //receive(); return;/*
            $.post("/ChatRoom/Send", { from: from, to: t.val(), msg: content }, function (data) {
                $("#message").append("<div>[" + fromName + "] to [" + t.text() + "] : " + content + "</div>");
                /*$.post("/ChatRoom/Receive", { userId: from }, function (data) {
                    $("#message").append("<div>[" + fromName + "] from [" + t.text() + "] : " + data.content + "</div>");
                });*/
                //receive();
            });
        });

        receive();
    });

    function receive() {
        var f = $("#user").find("option:selected");
        var t = $("#revuser").find("option:selected");
        $.ajax({
            url: "/ChatRoom/Receive",
            type: "POST",
            data: { userId: f.val() },
            timeout: 30000,
            dataType: "json",
            success: function (data) {
                if (data != "")
                    $("#message").append("<div>(" + data.queueID + ")[" + f.text() + "] from [" + data.toName + "] : " + data.content + "</div>");
                receive();
            },
            error: function () {
                receive();
            }
        });
    }
</script>